
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

.form-input {
    background-color: rgb(247, 239, 239);
    border-radius: 3px;
}
textarea {
    padding: 3%;
    border-color: #2909b6;
    border-width: thick;
}

.editpad {
     display: flex;
     align-items: center;
     justify-content: center;
 }

body {
    display: -ms-flexbox;
}

#edit-header {
    background-color: rgb(186, 189, 186);
    padding: 10px;
}

#home-header {
    padding: 5px;
    padding-left: 10px;
}

#homepage {
    font: 'Roboto-Regular', sans-serif;
}