
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    display: -ms-flexbox;
}
#home-header {
    padding: 5px;
    padding-left: 10px;
}

#contents {
    padding-left: 12px;
}