
textarea {
    padding: 3%;
    border-color: #2909b6;
    border-width: thick;
}

.editpad {
     display: flex;
     align-items: center;
     justify-content: center;
 }
body {
    display: -ms-flexbox;
}

#edit-header {
    background-color: rgb(186, 189, 186);
    padding: 10px;
}